<div th:fragment="sideMenuLeftAdmin">

  <h2 class="text-lg font-semibold mb-4">Меню администратора</h2>
  <ul>
    <li><a href="/admin" class="block py-2 hover:bg-gray-300 rounded">Дашборд</a></li>
    <li><a href="/admin/users" class="block py-2 hover:bg-gray-300 rounded">Управление пользователями</a></li>
    <li><a href="/admin/news" class="block py-2 hover:bg-gray-300 rounded">Управление новостями</a></li>
    <li><a href="/admin/settings" class="block py-2 hover:bg-gray-300 rounded">Настройки</a></li>
    <li><a href="/logout" class="block py-2 hover:bg-gray-300 rounded">Выход</a></li>
  </ul>
